{% extends "base.html" %}

{% block title %}IBTSOCS: I Bemoan The State Of Computer Science{% endblock %}

{% block content %}
<h1><pre>
 ___ ____ _____ ____   ___   ____ ____  
|_ _| __ )_   _/ ___| / _ \ / ___/ ___| 
 | ||  _ \ | | \___ \| | | | |   \___ \ 
 | || |_) || |  ___) | |_| | |___ ___) |
|___|____/ |_| |____/ \___/ \____|____/ 
</pre></h1>

<div id="postlink">
  Are you bemoaning the state of computer science today? <a href="{% url ibtsocs.root.views.create %}">Tell us why!</a>
</div>

{% if posts %}
  <div id="posts">
    {% for post in posts.object_list %}
      {% include "root/render_post.html" %}
    {% endfor %}
  </div>


{% ifnotequal posts.paginator.num_pages 1 %}
<div class="pagination">
  <span class="step-links">
    {% if posts.has_previous %}
      <a href="?page={{ posts.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
    </span>

    {% if posts.has_next %}
      <a href="?page={{ posts.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% endifnotequal %}
{% else %}
  <p>No posts yet!</p>
{% endif %}
{% endblock %}
