/*
  Shamelessly borrowed but edited from the stylesheet at debathena.mit.edu
*/

/* This file contains screen-only layout declarations that won't be
   used for printing. */

/* Make <body /> show up as a blue box */
html {
    background: #000082;
}
body {
    position: relative;
    margin: 0 auto;
    padding: 1em;
    color: #fff;
}

#postlink {
    text-align: center;
}

.post {
    border: 1px white solid;
    margin: 1em 0;
    padding: 1em;
}

input, textarea, #recaptcha_response_field {
    background: #3333a2;
    color: #fff;
}
