<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/layout.css" media="screen" />
    <title>{% block title %}My amazing site{% endblock %}</title>
    {% block header %}{% endblock %}
</head>

<body>
    {% block navigation %}
    <div id="nav">
      <a href="{% url ibtsocs.root.views.index %}">cd ~</a>
    </div>
    {% endblock %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footnote">
      <p>Questions? Comments? Contact <a href="mailto:broder@ibtsocs.com">the IBTSOCS team</a></p>

      <p>Tired of bemoaning the state in front of you and want to
        bemoan someone else's instead? IBTSOCS is open-source
        software, available
        on <a href="http://github.com/ebroder/ibtsocs">Github</a>, and
        patches are welcome!
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-305173-5");
        pageTracker._setDomainName("none");
        pageTracker._setAllowLinker(true);
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
</body>
</html>
